<footer class="footer">
  <small>
    &copy <%= copyright_notice_year_range(2014) %><%= site_name %> ALL Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>